:root {
  --default: #293244;
  --muted: #a0a9b8;
  --disabled: #44537180;
  --disabled-btn: #4453711a;

  --surface-1: #ffffff;
  --surface-5: #d0d4dc;
  --surface-3: #f6f6f8;

  --blue-100: #45a5f6;
  --blue-060: #c7e4fc;
  --blue-050: #daedfd;

  --red-110: #e12828;
  --red-050: #fadee0;

  --violet-110: #6447cf;
}
