@font-face {
  font-family: 'Circe Rounded';
  src: url('/fonts/CirceRounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url('/fonts/CirceRounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Circe Rounded', sans-serif;
}
