.input-container {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__input {
    border: 1px solid var(--muted);
    border-radius: 6px;
    padding: 10px 12px;

    &:focus,
    &:not(:placeholder-shown) {
      border-color: var(--violet-110);
      outline: none;
    }
  }
}
