@use '/src/global-styles/mixins.scss' as mixins;

.radio-button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__options {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    @include mixins.mobile {
      flex-direction: column;
      gap: 8px;
    }
  }
}
